.borders {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

html,
body {
  scroll-behavior: smooth;
  padding-top: 50px;
  // max-width: 100%;
  // overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 45px;
  }
}
